.square {
    color: #000000;
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 30px;
}

.square:focus {
    outline: none;
}